#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-form {
  background: rgba(0, 0, 0, 0.400);
  padding: 20px;
  border-radius: 42px;
  max-width: 400px;
  box-shadow: 0px 0px 1cm rgba(0, 0, 0, 0.5);
}

.auth-form h2 {
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.error-message {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.749);
  padding: 10px 20px;
  border-width: 1px;
  width: 150px;
  margin: 10px auto;
}

.auth-form-group {
  margin-bottom: 1rem;
}

.auth-form-group label {
  display: block;
  font-weight: 600;
  color: white;
}

.auth-form-group input {
  width: 70%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 1rem;
  transition: border-color 0.03s;
  background-color: rgba(77, 77, 77, 0.544);
  color: rgb(255, 255, 255);
  border-color: rgb(92, 92, 92);
}

.auth-form-group input:focus {
  outline: none;
  border-color: #4285f4;
  box-shadow: 0 0 0 4px rgba(66, 133, 244, 0.15);
}

.goto-register-page {
  margin-bottom: 10px;
}

.submit-btn {
  width: 50%;
  padding: 0.75rem;
  background-color: #b7ab2a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #a79b1f;
}

.auth-footer {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.recruiter-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-link {
  display: block;
  position: relative;
  padding: 0 20px;
  margin-top: 15px;
}

.register-link::before,
.register-link::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45px;
  height: 1px;
  background-color: #cccccc33;
}

.register-link::before {
  right: 82%;
}

.register-link::after {
  left: 82%;
}