.edit-btn,
.delete-btn,
.save-btn,
.cancel-btn {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  width: 64px;
  margin: 5px;
}

.edit-btn {
  background-color: rgb(10, 10, 10);
  color: white;
  border-width: 1px;
  border-color: hsl(123, 100%, 50%);
}

.edit-btn:hover {
  background-color: hsl(123, 100%, 50%);
  color: black;
  font-weight: bold;
  border-width: 1px;
  border-color: black;
}

.delete-btn {
  background-color: rgb(10, 10, 10);
  color: white;
  border-width: 1px;
  border-color: red;
}

.delete-btn:hover {
  background-color: red;
  color: black;
  font-weight: bold;
  border-width: 1px;
  border-color: black;
}

.delete-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.save-btn {
  background-color: rgb(10, 10, 10);
  color: white;
  border-width: 1px;
  border-color: cadetblue;
}

.save-btn:hover {
  background-color: cadetblue;
  color: black;
  font-weight: bold;
  border-width: 1px;
  border-color: black;
}

.cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 10, 10);
  color: white;
  border-width: 1px;
  border-color: darkgoldenrod;
  width: 70px;
}

.cancel-btn:hover {
  background-color: darkgoldenrod;
  color: black;
  font-weight: bold;
  border-width: 1px;
  border-color: black;
}

.edit-mode {
  display: flex;
  align-items: center;
}

.url-edit-input {
  padding: 5px 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
}