.edit-btn,
.delete-btn,
.save-btn,
.cancel-btn {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  width: 64px;
  margin: 5px;
}

.edit-btn {
  background-color: #4CAF50;
  color: white;
}

.edit-btn:hover {
  background-color: #45a049;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.delete-btn:hover {
  background-color: #da190b;
}

.delete-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.save-btn {
  background-color: #2196F3;
  color: white;
}

.save-btn:hover {
  background-color: #1d82d4;
}

.cancel-btn {
  background-color: #ff9800;
  width: 74px;
  color: white;
  margin-right: -5px;
}

.cancel-btn:hover {
  background-color: #e68a00;
}

.edit-mode {
  display: flex;
  align-items: center;
}

.url-edit-input {
  padding: 5px 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
}